@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto/Roboto-VariableFont_wdth,wght.ttf') format('truetype');
    font-weight: 100 900;
    font-stretch: 75% 100%;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto/Roboto-Italic-VariableFont_wdth,wght.ttf') format('truetype');
    font-weight: 100 900;
    font-stretch: 75% 100%;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('fonts/Raleway/Raleway-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-stretch: 75% 100%;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('fonts/Raleway/Raleway-Italic-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-stretch: 75% 100%;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url('fonts/Lato/Lato-Light.ttf') format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: 'Lato';
    src: url('fonts/Lato/Lato-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Lato';
    src: url('fonts/Lato/Lato-Bold.ttf') format('truetype');
    font-weight: 700;
}

* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
    min-height: 100vh;
    margin: 0;

    font-family: 'Roboto', sans-serif;
    font-weight: 350;
    /*font-size: 0.75rem;*/
    font-size: 13.4px;
    color: #706F6F;
}

h1 {
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    letter-spacing: 2mm;
    text-transform: uppercase;
    margin: 0;
    color: #464A4E;
}

h2 {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    margin: 0;
    letter-spacing: 0.289rem;
    /*color: #464A4E;*/
}

a {
    all: unset;
    cursor: pointer;
    /*text-decoration: underline #706F6F;*/
}

a:hover {
    text-decoration: underline #706F6F;
}

.container {
    width: 210mm; /* A4 width */
    /*width: 774px;*/
    height: auto;
    /*min-height: 297mm; !* Ensure it has A4 height *!*/
    /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);*/
    /*border-radius: 5px;*/
    position: absolute;
    top: 0;
    background-color: #ffffff;
}

.header {
    text-align: center;
    background-color: #FAF8F8;
    padding-top: 7mm;
    padding-bottom: 10px;
}

.middle {
    flex-wrap: wrap;
    font-family: 'Raleway', 'Roboto', sans-serif;
    letter-spacing: 0.3mm;
}

.header, .middle, .bottom {
    padding-left: 50px;
    padding-right: 50px;
}

.bottom {
    padding-bottom: 30px;
}

.horizontal {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    height: fit-content;
    gap: 0.2em 1em;
}


.vertical {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
}

.small_margin {
    /*font-family: 'Lato', sans-serif;*/
    margin-top: 1.3mm;
}

.medium_margin {
    margin-top: 3mm;
}

.large_margin {
    margin-top: 7mm;
}

.middle .bold {
    font-weight: 600;
}

.bottom .bold {
    /*font-weight: 600;*/
}

.title {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    color: #464A4E;
}

mark {
    all: unset;
}

mark.underline::before {
    transform: translateY(0.5em) scaleY(0.3);
}

/*.highlight {*/
/*    font-weight: 600;*/
/*    !*color: #449b95;*!*/
/*    !*text-decoration: underline #a1a1a1;*!*/
/*    !*text-decoration: underline dashed #449b95 2px;*!*/
/*}*/

/*.title > .highlight {*/
/*    !*font-weight: 700;*!*/
/*    !*color: #00948a;*!*/
/*    !*color: #464A4E;*!*/
/*}*/

/*mark {*/
/*    font-weight: 600;*/
/*    !*color: #449b95;*!*/
/*    !*text-decoration: underline #a1a1a1;*!*/
/*    !*text-decoration: underline dashed #449b95 2px;*!*/
/*}*/

/*.title > mark {*/
/*    font-weight: 700;*/
/*    !*color: #00948a;*!*/
/*    !*color: #464A4E;*!*/
/*}*/


/* COLLAPSABLE */
.collapsable {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.1s ease-out;
}

@media only screen and (max-width: 210mm) {
    /* Adjust container to use full available width */
    .container {
        width: auto;
        height: auto;
        margin: 10px 10px;
    }

    /* Scale down the base font size for smaller screens */
    body {
        font-size: 12px; /* Adjust as needed */
    }

    /* Reduce heading sizes */
    h1 {
        font-size: 20px;
    }
    h2 {
        font-size: 16px;
    }

    /* Reduce padding/margins for header, middle, and bottom sections */
    .header, .middle, .bottom {
        padding-left: 25px;
        padding-right: 25px;
    }
}


@media print {
    @page {
        size: A4 portrait;
        margin: 0;
    }

    body {
        background: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container {
        width: 100%;
        height: 100%;
        box-shadow: none; /* Remove shadow for print */
        background: white;
        margin: 0;
        padding: 0;
    }

    body * {
        visibility: hidden;
    }

    .container, .container * {
        visibility: visible;
    }

    a {
        text-decoration: none;
    }
}








