
/* START OF MARKER marker0 */
.marker0 {
    margin: 0;
    padding: 0;
    border-radius: 0.3em 0.7999999999999999em;
    position: relative;
    background: transparent;
    display: inline;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    z-index: 0;
}

.marker0::before {
    content: "";
    position: absolute;
    inset: -0.1em -0.4em;
    top: -0.1em;
    left: -0.4em;
    right: -0.4em;
    bottom: -0.1em;
    border-radius: 0.3em 0.7999999999999999em;
    background-image: linear-gradient(
    to right,
    rgba(242, 198, 223, 0.3),
    rgba(242, 198, 223, 0.5) 2%,
    rgba(242, 198, 223, 0.1) 95%,
    rgba(242, 198, 223, 0.7)
    );
    clip-path: inset(0 100% 0 0);
    transition: clip-path 0s;
    z-index: -1;
    pointer-events: none;
}

/* Fallback for printing */
@media print {
    .marker0::before {
        background-image: none;
        background-color: rgba(242, 198, 223, 0.4);
    }
}

.marker0.animate-highlight::before {
  clip-path: inset(0 0 0 0);
  transition: clip-path 0.4s ease-in-out;
}
/* END OF MARKER marker0 */

/* START OF MARKER marker1 */
.marker1 {
    margin: 0;
    padding: 0;
    border-radius: 0.2em 0.9em;
    position: relative;
    background: transparent;
    display: inline;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    z-index: 0;
}

.marker1::before {
    content: "";
    position: absolute;
    inset: -0.1em -0.4em;
    top: -0.1em;
    left: -0.4em;
    right: -0.4em;
    bottom: -0.1em;
    border-radius: 0.2em 0.9em;
    background-image: linear-gradient(
    to right,
    rgba(242, 198, 223, 0.3),
    rgba(242, 198, 223, 0.8) 2%,
    rgba(242, 198, 223, 0.1) 95%,
    rgba(242, 198, 223, 0.5)
    );
    clip-path: inset(0 100% 0 0);
    transition: clip-path 0s;
    z-index: -1;
    pointer-events: none;
}

/* Fallback for printing */
@media print {
    .marker1::before {
        background-image: none;
        background-color: rgba(242, 198, 223, 0.3);
    }
}

.marker1.animate-highlight::before {
  clip-path: inset(0 0 0 0);
  transition: clip-path 0.5s ease-in-out;
}
/* END OF MARKER marker1 */

/* START OF MARKER marker2 */
.marker2 {
    margin: 0;
    padding: 0;
    border-radius: 0.2em 0.7000000000000001em;
    position: relative;
    background: transparent;
    display: inline;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    z-index: 0;
}

.marker2::before {
    content: "";
    position: absolute;
    inset: -0.1em -0.4em;
    top: -0.1em;
    left: -0.4em;
    right: -0.4em;
    bottom: -0.1em;
    border-radius: 0.2em 0.7000000000000001em;
    background-image: linear-gradient(
    to right,
    rgba(175, 211, 240, 0.3),
    rgba(175, 211, 240, 0.9) 5%,
    rgba(175, 211, 240, 0.2) 96%,
    rgba(175, 211, 240, 0.6)
    );
    clip-path: inset(0 100% 0 0);
    transition: clip-path 0s;
    z-index: -1;
    pointer-events: none;
}

/* Fallback for printing */
@media print {
    .marker2::before {
        background-image: none;
        background-color: rgba(175, 211, 240, 0.6);
    }
}

.marker2.animate-highlight::before {
  clip-path: inset(0 0 0 0);
  transition: clip-path 0.7s ease-in-out;
}
/* END OF MARKER marker2 */

/* START OF MARKER marker3 */
.marker3 {
    margin: 0;
    padding: 0;
    border-radius: 0.8em 0.09999999999999995em;
    position: relative;
    background: transparent;
    display: inline;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    z-index: 0;
}

.marker3::before {
    content: "";
    position: absolute;
    inset: -0.1em -0.4em;
    top: -0.1em;
    left: -0.4em;
    right: -0.4em;
    bottom: -0.1em;
    border-radius: 0.8em 0.09999999999999995em;
    background-image: linear-gradient(
    to right,
    rgba(250, 223, 161, 0.2),
    rgba(250, 223, 161, 0.7) 1%,
    rgba(250, 223, 161, 0.1) 94%,
    rgba(250, 223, 161, 0.6)
    );
    clip-path: inset(0 100% 0 0);
    transition: clip-path 0s;
    z-index: -1;
    pointer-events: none;
}

/* Fallback for printing */
@media print {
    .marker3::before {
        background-image: none;
        background-color: rgba(250, 223, 161, 0.5);
    }
}

.marker3.animate-highlight::before {
  clip-path: inset(0 0 0 0);
  transition: clip-path 0.6s ease-in-out;
}
/* END OF MARKER marker3 */

/* START OF MARKER marker4 */
.marker4 {
    margin: 0;
    padding: 0;
    border-radius: 0.8em 0.09999999999999995em;
    position: relative;
    background: transparent;
    display: inline;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    z-index: 0;
}

.marker4::before {
    content: "";
    position: absolute;
    inset: -0.1em -0.4em;
    top: -0.1em;
    left: -0.4em;
    right: -0.4em;
    bottom: -0.1em;
    border-radius: 0.8em 0.09999999999999995em;
    background-image: linear-gradient(
    to right,
    rgba(242, 198, 223, 0.2),
    rgba(242, 198, 223, 0.9) 5%,
    rgba(242, 198, 223, 0.2) 94%,
    rgba(242, 198, 223, 0.5)
    );
    clip-path: inset(0 100% 0 0);
    transition: clip-path 0s;
    z-index: -1;
    pointer-events: none;
}

/* Fallback for printing */
@media print {
    .marker4::before {
        background-image: none;
        background-color: rgba(242, 198, 223, 0.6);
    }
}

.marker4.animate-highlight::before {
  clip-path: inset(0 0 0 0);
  transition: clip-path 0.6s ease-in-out;
}
/* END OF MARKER marker4 */

/* START OF MARKER marker5 */
.marker5 {
    margin: 0;
    padding: 0;
    border-radius: 0.2em 0.9em;
    position: relative;
    background: transparent;
    display: inline;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    z-index: 0;
}

.marker5::before {
    content: "";
    position: absolute;
    inset: -0.1em -0.4em;
    top: -0.1em;
    left: -0.4em;
    right: -0.4em;
    bottom: -0.1em;
    border-radius: 0.2em 0.9em;
    background-image: linear-gradient(
    to right,
    rgba(242, 198, 223, 0.3),
    rgba(242, 198, 223, 0.9) 6%,
    rgba(242, 198, 223, 0.2) 94%,
    rgba(242, 198, 223, 0.9)
    );
    clip-path: inset(0 100% 0 0);
    transition: clip-path 0s;
    z-index: -1;
    pointer-events: none;
}

/* Fallback for printing */
@media print {
    .marker5::before {
        background-image: none;
        background-color: rgba(242, 198, 223, 0.4);
    }
}

.marker5.animate-highlight::before {
  clip-path: inset(0 0 0 0);
  transition: clip-path 0.5s ease-in-out;
}
/* END OF MARKER marker5 */

/* START OF MARKER marker6 */
.marker6 {
    margin: 0;
    padding: 0;
    border-radius: 0.7em 0.20000000000000004em;
    position: relative;
    background: transparent;
    display: inline;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    z-index: 0;
}

.marker6::before {
    content: "";
    position: absolute;
    inset: -0.1em -0.4em;
    top: -0.1em;
    left: -0.4em;
    right: -0.4em;
    bottom: -0.1em;
    border-radius: 0.7em 0.20000000000000004em;
    background-image: linear-gradient(
    to right,
    rgba(175, 211, 240, 0.2),
    rgba(175, 211, 240, 0.5) 3%,
    rgba(175, 211, 240, 0.1) 97%,
    rgba(175, 211, 240, 0.5)
    );
    clip-path: inset(0 100% 0 0);
    transition: clip-path 0s;
    z-index: -1;
    pointer-events: none;
}

/* Fallback for printing */
@media print {
    .marker6::before {
        background-image: none;
        background-color: rgba(175, 211, 240, 0.6);
    }
}

.marker6.animate-highlight::before {
  clip-path: inset(0 0 0 0);
  transition: clip-path 0.6s ease-in-out;
}
/* END OF MARKER marker6 */

/* START OF MARKER marker7 */
.marker7 {
    margin: 0;
    padding: 0;
    border-radius: 0.4em 0.7em;
    position: relative;
    background: transparent;
    display: inline;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    z-index: 0;
}

.marker7::before {
    content: "";
    position: absolute;
    inset: -0.1em -0.4em;
    top: -0.1em;
    left: -0.4em;
    right: -0.4em;
    bottom: -0.1em;
    border-radius: 0.4em 0.7em;
    background-image: linear-gradient(
    to right,
    rgba(175, 211, 240, 0.2),
    rgba(175, 211, 240, 0.6) 5%,
    rgba(175, 211, 240, 0.3) 99%,
    rgba(175, 211, 240, 0.7)
    );
    clip-path: inset(0 100% 0 0);
    transition: clip-path 0s;
    z-index: -1;
    pointer-events: none;
}

/* Fallback for printing */
@media print {
    .marker7::before {
        background-image: none;
        background-color: rgba(175, 211, 240, 0.3);
    }
}

.marker7.animate-highlight::before {
  clip-path: inset(0 0 0 0);
  transition: clip-path 0.5s ease-in-out;
}
/* END OF MARKER marker7 */

/* START OF MARKER marker8 */
.marker8 {
    margin: 0;
    padding: 0;
    border-radius: 0.2em 0.7000000000000001em;
    position: relative;
    background: transparent;
    display: inline;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    z-index: 0;
}

.marker8::before {
    content: "";
    position: absolute;
    inset: -0.1em -0.4em;
    top: -0.1em;
    left: -0.4em;
    right: -0.4em;
    bottom: -0.1em;
    border-radius: 0.2em 0.7000000000000001em;
    background-image: linear-gradient(
    to right,
    rgba(175, 211, 240, 0.1),
    rgba(175, 211, 240, 0.8) 6%,
    rgba(175, 211, 240, 0.2) 96%,
    rgba(175, 211, 240, 0.7)
    );
    clip-path: inset(0 100% 0 0);
    transition: clip-path 0s;
    z-index: -1;
    pointer-events: none;
}

/* Fallback for printing */
@media print {
    .marker8::before {
        background-image: none;
        background-color: rgba(175, 211, 240, 0.4);
    }
}

.marker8.animate-highlight::before {
  clip-path: inset(0 0 0 0);
  transition: clip-path 0.4s ease-in-out;
}
/* END OF MARKER marker8 */

/* START OF MARKER marker9 */
.marker9 {
    margin: 0;
    padding: 0;
    border-radius: 0.7em 0.20000000000000004em;
    position: relative;
    background: transparent;
    display: inline;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    z-index: 0;
}

.marker9::before {
    content: "";
    position: absolute;
    inset: -0.1em -0.4em;
    top: -0.1em;
    left: -0.4em;
    right: -0.4em;
    bottom: -0.1em;
    border-radius: 0.7em 0.20000000000000004em;
    background-image: linear-gradient(
    to right,
    rgba(175, 211, 240, 0.2),
    rgba(175, 211, 240, 0.8) 5%,
    rgba(175, 211, 240, 0.2) 99%,
    rgba(175, 211, 240, 0.5)
    );
    clip-path: inset(0 100% 0 0);
    transition: clip-path 0s;
    z-index: -1;
    pointer-events: none;
}

/* Fallback for printing */
@media print {
    .marker9::before {
        background-image: none;
        background-color: rgba(175, 211, 240, 0.4);
    }
}

.marker9.animate-highlight::before {
  clip-path: inset(0 0 0 0);
  transition: clip-path 0.7s ease-in-out;
}
/* END OF MARKER marker9 */

/* START OF MARKER marker10 */
.marker10 {
    margin: 0;
    padding: 0;
    border-radius: 0.6em 0.5em;
    position: relative;
    background: transparent;
    display: inline;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    z-index: 0;
}

.marker10::before {
    content: "";
    position: absolute;
    inset: -0.1em -0.4em;
    top: -0.1em;
    left: -0.4em;
    right: -0.4em;
    bottom: -0.1em;
    border-radius: 0.6em 0.5em;
    background-image: linear-gradient(
    to right,
    rgba(218, 204, 239, 0.2),
    rgba(218, 204, 239, 0.8) 2%,
    rgba(218, 204, 239, 0.1) 99%,
    rgba(218, 204, 239, 0.7)
    );
    clip-path: inset(0 100% 0 0);
    transition: clip-path 0s;
    z-index: -1;
    pointer-events: none;
}

/* Fallback for printing */
@media print {
    .marker10::before {
        background-image: none;
        background-color: rgba(218, 204, 239, 0.4);
    }
}

.marker10.animate-highlight::before {
  clip-path: inset(0 0 0 0);
  transition: clip-path 0.7s ease-in-out;
}
/* END OF MARKER marker10 */

/* START OF MARKER marker11 */
.marker11 {
    margin: 0;
    padding: 0;
    border-radius: 0.3em 0.6em;
    position: relative;
    background: transparent;
    display: inline;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    z-index: 0;
}

.marker11::before {
    content: "";
    position: absolute;
    inset: -0.1em -0.4em;
    top: -0.1em;
    left: -0.4em;
    right: -0.4em;
    bottom: -0.1em;
    border-radius: 0.3em 0.6em;
    background-image: linear-gradient(
    to right,
    rgba(218, 204, 239, 0.3),
    rgba(218, 204, 239, 0.8) 5%,
    rgba(218, 204, 239, 0.2) 97%,
    rgba(218, 204, 239, 0.6)
    );
    clip-path: inset(0 100% 0 0);
    transition: clip-path 0s;
    z-index: -1;
    pointer-events: none;
}

/* Fallback for printing */
@media print {
    .marker11::before {
        background-image: none;
        background-color: rgba(218, 204, 239, 0.4);
    }
}

.marker11.animate-highlight::before {
  clip-path: inset(0 0 0 0);
  transition: clip-path 0.4s ease-in-out;
}
/* END OF MARKER marker11 */
